/* public/styles.css */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media print {
  button {
    display: none;
  }
  @page {
    size: A4 portrait;
  }
}

#content {
  max-width: 992px;
  margin: 0 25px;
}

.front-skin {
  background: #fff;
  height: 100vh;
  position: relative;
  position: relative;
}

.front-skin h1 {
  font-size: 2.25rem;
  font-family: Lexend;
  font-weight: bold;
  color: rgb(96, 30, 130);
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front-skin .first {
  position: absolute;
  top: -25px;
}

.front-skin .last {
  position: absolute;
  right: 0;
  bottom:25px;
  transform: rotate(180deg);
}

#competencies {
  page-break-before: always;
        margin-top: 40px;
}
.spacing-top {
  padding: 50px;
  height: 100%;
}
